  .container {
        max-width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        max-width: 100%;
      }
      .row, .row-fluid {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
      }
      .row {
        margin-right: -15px;
        margin-left: -15px;
      }
      html {
        direction: rtl;
      }
      body {
        font-family: Poppins,droid arabic kufi;
        background: #ecf0f0;
        max-width: 1140px;
        overflow-x: hidden;
        margin: auto;
      }




/*====================
Header
=====================*/


      .header {
        background: #f9f9f9;
        box-shadow: 1px 0 2px 1px #ddd;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 5;
        transition: transform .5s ease-in-out;
      }
      .header.active {
        transform:translateY(calc(-100% + -2px));
      }
      .logo-search-menu {
        height: 60px;
	
        align-items: center
      }
      .logo {
        width: 130px;
      }
      .logo a {
        background: url(https://1.bp.blogspot.com/-EG-lMZL0OEQ/XRJc0C7vR4I/AAAAAAAABO0/EfN7ElkjkvUoo_c_48C4SmnjOLyRkLCpQCLcBGAs/s1600/egybest_logo.png) no-repeat;
        display: block;
        width: 130px;
        height: 35px;
        margin: 5px 0 0;
        padding: 0;
      }
      .search {
        float: left;
        width: calc(60% - 130px);
        margin-right: 30px;
      }
      form {
        width: 100%;
        display: block;
		position: relative;
      }
      .search input:focus {
        -webkit-appearance: none;
        box-shadow: inset 0 0 0 0 rgba(0,0,0,.05),0 0 0 0 rgba(255,255,255,.025),0 0 4px 0 #74caee!important;
        -webkit-box-shadow: inset 0 0 0 0 rgba(0,0,0,.05),0 0 0 0 rgba(255,255,255,.025),0 0 4px 0 #74caee!important;
        border: 1px solid #74caee;
      }
      .fb-link a {
        margin-right: 30px;
        display: block;
        height: 35px;
        border-radius: 4px;
        line-height: 35px;
        font-size: 15px;
        padding: 0px 10px;
        font-weight: 400;
        color: #ffffff;
        background: #4267b2;
      }
      .search input {
        display: block;
        width: 100%;
        height: 35px;
        margin: 0 0 0 25px;
        padding: 5px 10px 5px 35px;
        border-radius: 4px;
        line-height: 35px;
        font-size: 15px;
        color: #444;
      }
      .search form i {
        position: absolute;
        top: 0;
        left: 0;
        line-height: 35px;
        width: 35px;
        font-size: 16px;
        text-align: center;
        color: #666;
      }
      .menu {
        display: flex;
        align-items: center;
        margin-right: auto;
      }
      .show-menu, .show-search {
        width: 35px;
        height: 35px;
        text-align: center;
        line-height: 35px;
        border-radius: 50%;
        background: #0066cc;
        color: #fff;
        cursor: pointer;
      }
      .show-search {
        margin-right: 15px;
      }
      .menu-links {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        left: 0;
        right: 100%;
        top: 60px;
        transition: .4s;
        height: 60px;
        background: #0066cc;
        border-top: 1px dashed #ffffff;
        z-index: -1;
      }
      .menu-links.active {
        right: 0;
      }
      .menu-links a {
        display: block;
        color: #fff;
        margin: 0 30px;
      }
      .menu-links a i {
        display: inline-block;
        font-size: 15px;
        margin-left: 5px;
      }


      @media screen and (max-width: 768px) {

        .header {
          box-shadow: none;
        }

        .search {
          position: absolute;
          top: 60px;
          left: 0;
          width: 100%;
          right: 100%;
          margin: 0;
          height: 60px;
          display: flex;
          align-items: center;
          background: #f9f9f9;
          border-top: 1px solid #d8d8d8;
          float: none;
          transition: .5s;
        }
        .show-search {
          margin-right: 15px;
        }
        .search.active {
          right: 0;
        }
        .search input {
          width: 90%;
          margin: auto;
        }
        .search form i {
          left: calc(5%);
        }



        /*
        Menu
        */

        .menu-links {
          background: #0066cc;
          height: auto;
          flex-direction: column;
          text-align: center;
        }
        .menu-links li:not(:last-child) {
          border-bottom: 1px dashed #eee;
          width: 100%;
        }
        .menu-links a {
          display: block;
          color: #fff;
          padding: 20px;
          font-size: 15px;
        }

      }


      @media screen and (max-width: 460px) {
        .fb-link {
          display: none;
        }
      }


      @media screen and (min-width: 460px) and (max-width: 768px) {
        .fb-link a {
          margin-right: 20px;
        }
      }






      /*====================
      Movies and Sidebar
      =====================*/
      .movies-sidebar {
        margin-top: 70px;
      }

      #main {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
      }




      /*====================
      Sidebar
      =====================*/
      #sidebar {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
        padding-right: 10px;
      }
      #type-movies .type-movies {
        overflow: hidden;
      }
      #type-movies .movie-type {
        display: block;
        width: 49%;
        float: left;
        padding: 10px 0;
        font-size: 14px;
        text-align: center;
        border-radius: 5px;
        font-family: droid arabic kufi;
        background: white;
        color: red;
        margin-bottom: 5px;
        transition: .4s;
      }
      #type-movies .movie-type span {
        font-family: Poppins;
      }
      #type-movies .type-movies > div:nth-child(odd) .movie-type {
        margin-right: 2%;
      }
      #type-movies .movie-type:hover {
        background: red;
        color: #fff;
      }
      .w-title {
        border-bottom: 1px solid #ddd;
      }
      .social-box {
        position: relative;
        display: block;
        margin-bottom: 10px;
        background: #fff;
        border: 1px solid #ddd;
        border-radius: 4px;
      }
      .social-box .w-links {
        padding: 15px 10px;
        width: 70%;
        margin: auto;
        text-align: left;
      }
      .social-box .w-links a {
        display: block;
        width: 100%;
        margin-bottom: 10px;
        font-size: 14px;
        color: #0066cc;
      }
      .social-box .w-title h4 {
        font-size: 14px;
        padding: 10px;
        text-align: center;
        color: #333;
      }
      .social-box .w-links a .fa {
        width: 27px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        color: #fff;
        margin-right: 8px;
        border-radius: 3px;
      }
      .social-box .w-links a .fa-facebook {
        background: #3c5a98;
      }
      .social-box .w-links .fa-twitter {
        background: #2daae4;
      }
      .social-box .w-links .fa-instagram {
        background: #e4405f;
      }
      .social-box .w-links .fa-pinterest {
        background: #bd081c;
      }
      .copyright {
        text-align: center;
        color: #222;
        font-size: 14px;
        margin-top: 80px;
        margin-bottom: 30px;
      }
      .copyright i.fa-heart {
        color: red;
        font-size: 18px;
      }




        .box-movies {
          position: relative;
          overflow: hidden;
          background: #fff;
          border: 1px solid #ddd;
          border-radius: 5px;
          margin-bottom: 15px;
        }

        .box-movies .box-top {
          overflow: hidden;
          background: #f9f9f9;
		  padding: 3px 0;
        }

        .box-movies .box-title {
          padding: 10px;
          color: #222222;
          font-size: 14px;
          float: right;
        }

        .box-movies .more-movies {
          float: left;
          padding: 10px;
          font-size: 14px;
        }

        .box-movies .box-content {
          padding: 10px;
          position: relative;
          border-top: 1px solid #ddd;
        }

        .box-movies .box-content .movie {
          margin-top: 4px;
        }

        .owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
          display: block!important;
        }

        .box-movies .box-content .owl-prev, .box-movies .box-content .owl-next {
          position: absolute;
          top: calc(50% - 25px);
          transform: translateY(-50%);
          background: rgba(255, 255, 255, .8);
          padding: 5px 12px;
          text-align: center;
          cursor: pointer;
          border: 1px solid #ddd;
          border-right: 0;
        }

        .box-movies .box-content .owl-prev:hover, .box-movies .box-content .owl-next:hover {
          background: #fff;
        }

        .box-movies .box-content .owl-prev {
          right: -10px;
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
        }

        .box-movies .box-content .owl-nav .owl-next {
          left: -10px;
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
          border-left: 0;
        }

        .box-movies .box-content .owl-nav i {
          font-weight: bold;
          display: block;
          font-size: 45px;
          color: #06c;
        }

        .box-movies .box-content .movie-cover {
          position: relative;
        }

        .box-movies .box-content .movie-cover img {
          min-height: 210px;
          max-height: 210px;
          display: block;
          width: 100%;
        }

        .box-movies .box-content .movie-title a {
          display: block;
          text-align: center;
          margin-top: 10px;
          color: #06c;
          padding: 0;
          font-size: 13px;
          font-weight: 600;
        }

        .box-movies .box-content .movie-title a:hover {
          color: #366191;
        }



        /*

        Most Viewed

        */

        .movie-cover .hq {
          position: absolute;
          left: -5px;
          top: -5px;
          z-index: 1;
          overflow: hidden;
          width: 75px;
          height: 75px;
        }

        .movie-cover .hq span {
          color: #fff;
          text-align: center;
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
          text-transform: capitalize;
          width: 100px;
          font-family: sans-serif;
          display: block;
          background: #093;
          box-shadow: 0 3px 10px -5px #000;
          position: absolute;
          top: 19px;
          left: -21px;
          font-weight: 700;
          line-height: 20px;
          white-space: nowrap;
        }

        .movie-cover .hq span:before, .movie-cover .hq span:after {
          content: "";
        }

        .movie-cover .hq span:before {
          content: '';
          position: absolute;
          left: 0;
          top: 100%;
          z-index: -1;
          border-left: 3px solid #ff4136;
          border-right: 3px solid transparent;
          border-bottom: 3px solid transparent;
          border-top: 3px solid #ff4136;
          border-left-color: #093;
          border-top-color: #093;
        }


        .movie-cover .hq span:after {
          content: '';
          position: absolute;
          right: 0%;
          top: 100%;
          z-index: -1;
          border-right: 3px solid #ff4136;
          border-left: 3px solid transparent;
          border-bottom: 3px solid transparent;
          border-top: 3px solid #ff4136;
          border-right-color: #093;
          border-top-color: #093;
        }


        .movie-cover .hq .bluray {
          background: #06c;
        }

        .movie-cover .hq .bluray:before {
          border-left-color: #06c;
          border-top-color: #06c;
        }

        .movie-cover .hq .bluray:after  {
          border-right-color: #06c;
          border-top-color: #06c;
        }


        .movie-cover .hq .webdl {
          background: #093;
        }

        .movie-cover .hq .webdl:before {
          border-left-color: #093;
          border-top-color: #093;
        }

        .movie-cover .hq .webdl:after  {
          border-right-color: #093;
          border-top-color: #093;
        }




        .movie-cover .hq .dvdrip {
          background: #333;
        }

        .movie-cover .hq .dvdrip:before {
          border-left-color: #333;
          border-top-color: #333;
        }

        .movie-cover .hq .dvdrip:after  {
          border-right-color: #333;
          border-top-color: #333;
        }




        .movie-cover .hq .hdrip, .movie-poster .hq .hdrip {
          background: #f60;
        }
        .movie-cover .hq .hdrip:before {
          border-left-color: #f60;
          border-top-color: #f60;
        }

        .movie-cover .hq .hdrip:after {
          border-right-color: #f60;
          border-top-color: #f60;
        }








        .movie-cover .hq .hdcam, .movie-cover .hq .hdts {
          background: #ff4136;
        }
        .movie-cover .hq .hdcam:before, .movie-cover .hq .hdts:before{
          border-left-color: #ff4136;
          border-top-color: #ff4136;
        }

        .movie-cover .hq .hdcam:after, .movie-cover .hq .hdts:after {
          border-right-color: #ff4136;
          border-top-color: #ff4136;
        }





        .movie-cover .hq .hdtv {
          background: #333;
        }

        .movie-cover .hq .hdtv:before{
          border-left-color: #333;
          border-top-color: #333;
        }

        .movie-cover .hq .hdtv:after {
          border-right-color: #333;
          border-top-color: #333;
        }







        .movie-cover .hq .test{
          background: #06c;
        }

        .movie-cover .hq .test:before {
          border-left-color: #06c;
          border-top-color: #06c;
        }

        .movie-cover .hq .test:after {
          border-right-color: #06c;
          border-top-color: #06c;
        }





        .movie-cover .star-rateing {
          display: block;
          position: absolute;
          top: 5px;
          right: 5px;
          text-shadow: 0 0 4px #e0e0e0;
          -webkit-text-stroke: 1px #fe0;
          color: #fc0;
          font-size: 36px;
          vertical-align: middle;
        }

        .movie-cover .star-rateing b {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -45%);
          font-size: 12px;
          font-family: Arial;
          color: #000;
          text-shadow: none;
          -webkit-text-stroke: 0;
        }


        .movie-cover .p-m {
          background: red;
          width: 30px;
          height: 30px;
          position: absolute;
          top: 5px;
          right: 5px;
          border-radius: 4px;
          overflow: hidden;
        }

        .movie-cover .p-m i {
          display: block;
          color: #fff;
          line-height: 30px;
          text-align: center;
          font-size: 23px;
        }

.menu-links.active {
    z-index: 100!important;
}

.box-movies .box-content {
    padding: 10px;
    position: relative;
    border-top: 1px solid #ddd;
    height: 285px;
}

.box-movies .box-content .movie-cover img {
    height: 200px;
    display: block;
    width: 160px;
}


.box-movies .box-content .owl-carousel {
    overflow: hidden;
    height: 300px;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.box-movies .box-content .movie {
    vertical-align: top;
    margin-top: 4px;
    width: 160px;
    display: inline-block;
    padding: 10px;
}

.box-movies .box-content .movie-title a {
    white-space: normal;
}


/*
.next-prev {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 50;
}

*/

.next-prev .prev, .next-prev .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, .8);
    padding: 5px 12px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ddd;
    border-right: 0;
	z-index: 1;
}

.next-prev .prev:hover, .next-prev .next:hover {
    background: white;
}


.next-prev .prev {
    left: -10px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: 0;
}

.next-prev .next {
    right: -10px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.next-prev .prev i, .next-prev .next i {
    font-weight: bold;
    display: block;
    font-size: 45px;
    color: #06c;
}













.social-box .w-links {
    text-align: center;
}

.social-box .w-links a .fa {
    margin-right: 0;
    margin-left: 10px;
}

.social-box .w-links a:hover {
    color: #ff0000;
}

.container {
	max-width: 1140px;
}

.menu-links {
	display: none;
}

.menu-links.active {
    display: flex!important;
}


.logo a {
  background: url(https://4.top4top.net/p_125784blv1.png) no-repeat!important;
}

.dmca-copyright {
    margin-top: 60px;
    padding: 30px;
    background: #fff;
}

.dmca-copyright h1 {
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    color: #f30;
	margin-bottom: 20px;
}

.dmca-copyright p {
    font-size: 16px;
    line-height: 31px;
    padding: 20px 0;
    color: #000000;
}

.dmca-copyright p.en-dmca {
    margin-top: 20px;
    border-top: 2px dashed #b2b2b2;
}

.dmca-copyright h3 {
    text-align: center;
    color: #000;
}

      .show-menu {
        width: auto;
        border-radius: 3px;
        padding: 0 15px;
      }

      .show-search {
        display: none;
      }

      .show-menu i {
        display: inline-block;
        padding: 0 5px;
        height: 13px;
        width: 23px;
      }

      .fb-link {
        margin-right: auto;
      }


      @media screen and (max-width: 768px) {

        .box-movies .box-content .movie-cover img {
          min-height: 200px!important;
          max-height: 200px!important;
        }

.box-movies .box-content {
    height: 280px;
}



.show-search {
    margin-left: 15px;
    margin-right: -17px;
    border-radius: 3px;
    order: -1;
	display:block;
}

.show-menu {
    width: auto;
    border-radius: 3px;
    padding: 0 12px;
}

aside#sidebar {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 0;
}

#main {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 100%;
    max-width: 100%;
}

#search_form select {
    width: 50%;
    margin-bottom: 10px;
    margin: 5px 10px 10px;
    text-align: center;
}

.box-movies .box-content .owl-prev, .box-movies .box-content .owl-next {
    top: calc(50% - 12px);
}

.box-movies .box-content .movie-cover img {
	min-height: 175px;
	max-height: 175px;
}

#movie h1.movie-name {
    width: 100%;
    float: none;
    margin-bottom: 10px;
    margin-top: 0;
  font-size: 19px;
}

.movie-poster {
    position: relative;
}

#movie .movie-info {
    width: 100%;
    margin-top: 20px;
    float: none;
}

.movie-info .col-content.lang a, .movie-info .col-content.country a {
    font-size: 12px;
    color: #0066cc;
}

.movie-info .col-content.cate a {
    color: #4a4a4a;
    font-size: 12px;
}

.movie-info .col-content .m-type a {
    font-size: 12px;
}

.movie-info .col-content .m-type:not(:last-child) a:after {
    font-size: 4px;
}

.movie-watch .no-full-width {
    width: 100%;
}

.page-movie-actors .movie-actors .actor-name {
    width: 100%;
    float: none;
    margin: auto;
    margin-bottom: 15px;
}

#movie {
    margin-bottom: 25px;
}

.download-movie td {
    padding: 5px;
    font-size: 13px;
}

.download-movie tr:first-child td {
    font-size: 14px;
}

.download-movie a {
    font-size: 13px;
    padding: 8px;
}

.download-movie {
    margin: 25px -6px;
}

.copyright {
    margin-top: 30px;
}

#movie .movie-poster {
    width: 100%;
    display: block;
    float: none;
    margin: 15px auto;
}

#movie .movie-poster img {
    width: 100%;
}

.page-movie-actors .movie-actors .actor-name:last-child {
    margin-bottom: 0;
}

#movie .movie-story-body {
    font-size: 13px;
}
      }

